@import './default';
body{
  background: #fff;
}
img{
  display: block;
  width: 100%;
}




.product{
  padding-top: 30px;
  padding-bottom: 30px;
  width:1220px;
  margin: 0 auto;
  .product-img{
    width: 50%;
    height: 500px;
    img{
      height: 100%;
    }
  }
  hr{
    // border:1px silid gray;
    // width: 100%;
    margin: 30px 0;
  }
  a{
    color: map-get($colors, 'blue');
  }
  .interest-free{
    // text-align: right;
    & span:first-child{
      height: 20px;
    }
    .price{
      font-size: 14px;
      font-weight: normal;
    }
  }
  .product-message{
    color: gray;
    font-size: 12px;
    width: 50%; 
    line-height: 20px;
    p{
      padding: 0;
      margin: 0;
      padding-bottom: 5px;
    }
    .head{
      width: 100%;
      font-size: 14px;
    }
    h1{
      font-weight: normal;
      color: #000;
    }
    button{
      background: #fff;
      font-size: 18px;
      border:1px solid map-get($colors, 'blue');
      padding: .5rem 1rem;
      border-radius: 5px;
    } 
    .promotions{

      .tag{
        font-weight: bolder;
        
        display: inline-block;
        text-align: center;
        padding: 0 10px;
        border-radius: 10px;
      }
    }
    .title{
      width: 15%;
      color: #666;
      font-size: 14px;
    }
  }
  .capacity-select{
      button{
        margin-bottom: 10px;
        &:hover{
          box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        }
      } 
  }
  .color-select{
    button{
        margin-bottom: 10px;
        &:hover{
          box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        }
    } 
  }
  .service{
    .title{
       width: 40%;
       margin-right: 30px;
    }
    .contant{
      .button{
        position: relative;
        border: 1px solid map-get($colors, 'gray');
        border-radius: 10px;
        height: 70px;
        padding: 5px 20px 0;
        &:hover{
          box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        }
        margin-top: 10px;
        h2{
          margin: 0;
          font-weight: normal;
          margin-bottom: 10px;
        }
        .price{
          font-weight: normal;
        }
        .big-txt{
          font-size: 21px;
        }
        .right{
          font-size: 14px;
          p{
            font-size: 14px;
            margin-top: 10px;
          }
        }
        .select{
          position: absolute;
          top: 0;
          right: -10px;
          display: none;
          img{
            width: 50%;
          }
        }
        .no-select{
          position: absolute;
          top: 0;
          display: block;
          right: -10px;
          img{
            width: 50%;
          }
        }
      }
    }
    .list{
      padding-top: 10px;
      b{
        width: 45%;
      }
    }
  }
}